img.size {
    height: 700px;
    width: 100%;
}

.controllers-carousel {
    text-align: center;
    margin-top: 20px;
}

.arrow-carousel {
    font-size: 20px;
    padding: 15px 5px 5px 5px;
}

a {
    color: #565a5c;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

    a:hover {
        color: #00d8ff;
    }
    a:visited {
        color: #565a5c;
    }

    a:active {
        color: #565a5c;
    }

    a:focus {
        color: #00d8ff;
    }

.logo a, .logo a:hover, .logo a:focus {
    color: #fff;
}

.nav-element {
    background: none !important;
    border: none !important;
    position: relative !important;
    top: 2.5px !important;
}

.about-us {
    z-index: -1;
}

.header-area {
    background: #4d4e54;
    position: fixed;
    z-index: 999;
}

.cookies {
    position: fixed;
    bottom: 0;
    z-index: 999;
    width: 100%;
    margin: 0;
    border-radius: unset;
}

.center {
    margin-left: 13.5%;
}

.budget {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: 0 !important;
    box-shadow: none;
    border: 1px solid #d7d7d7;
    border-radius: 0px;
    margin-bottom: 20px;
    color: #aaa;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    height: 48px;
    position: relative;
}

    .budget:focus {
        box-shadow: none;
        border: 1px solid #d7d7d7;
    }

.search-btn {
    position: absolute;
    height: 34px;
    width: 34px;
    right: -1px;
    top: calc(3% - 20.5px);
    border-radius: 100px;
    border: none;
    color: #00d8ff;
    font-family: "fontAwesome";
    background: white;
    padding: 0;
    font-size: 41px;
    line-height: 0px;
}

    .search-btn:hover {
        color: #00d8d5;
        box-shadow: 0 0 5px black;
        transition: 1s ease;
    }

.search-icon {
    text-align: center;
    padding-bottom: 18.5px;
}
    .search-icon > i {
        font-size: 50px;
        color: #d7d7d7;
    }

.padding {
    padding: 3em 0 3em 0;
}

.h2 {
    position: relative;
    top: 10px;
}

.intro {
    font-size: 16px;
}

    .intro a {
        font-size: 16px;
    }

.margin {
    margin-top: 10px;
}

.h4-padding {
    padding-left: 0.7em;
}

.custom-checkbox {
    padding-right: 5px;
    display: inline-block;
}

.hr-padding {
    padding-bottom: 59px;
}

.error-heading {
    font-size: 3.95em;
    text-align: center;
}

.error-paragraph {
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 13px;
}

.button-primary {
    text-transform: uppercase;
    width: auto;
    background: #00d8ff;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

    .button-primary:hover {
        background: #00d8d5;
        text-transform: uppercase;
        width: auto;
        color: #fff;
        border-radius: 5px;
        padding: 10px;
        color: #fff;
        font-size: 14px;
    }

.filtr-item {
    height: 250px;
    width: 100%;
}

.filtr-container .filtr-item img {
    height: unset;
    width: 100%;
}

.padding-headings {
    margin-top: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

.cat-property {
    font-size: 13px;
    font-weight: 700;
}

.country-town {
    font-size: 13px;
    margin-bottom: 10px;
}

.star {
    color: #febb02;
}

.hotel-name {
    font-size: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: 500;
}

.button {
    margin-right: -10px;
    background-color: #00d8ff;
    border-color: #00c9ed;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    color: #fff;
}

    .button:hover {
        margin-right: -10px;
        background-color: #00d8d5;
        padding: 6px 12px;
        border-color: #00c5c2;
        line-height: 1.42857143;
        font-size: 14px;
        color: #fff;
    }

    .button:focus {
        margin-right: -10px;
        background-color: #00d8d5;
        padding: 6px 12px;
        border-color: #00c5c2;
        line-height: 1.42857143;
        font-size: 14px;
        color: #fff;
    }

.btn-danger {
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

main {
    padding: 3em 0;
}

.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
    padding: 6px 12px;
    font-size: 14px;
}

.gallery-details {
    margin-top: 0;
    margin-bottom: 0;
}

.travel-box {
    position: relative;
    bottom: 69px;
}

.gallery-section {
    position: relative;
    bottom: 20px;
}

.gallary-header p {
    margin-top: 0;
}

.gallary-header {
    position: relative;
    top: 3em;
}

textarea.description {
    height: 17.8em;
}

.modal {
    background: rgba(0, 0, 0, 0.5);
}

.modal-backdrop {
    display: none;
}

.btn-margin {
    margin-right: 0.01em;
}
    .btn-margin:hover {
        margin-right: 0.01em;
    }
    .btn-margin:focus {
        margin-right: 0.01em;
    }

a.add {
    font-size: 14px;
    margin-bottom: 0.2em;
}

.underline {
    padding-left: 0.3em;
}

.margins-temp {
    margin-bottom: -0.5em;
    margin-top: 0.3em;
}


.carousel {
    position: relative
}

    .carousel.pointer-event {
        -ms-touch-action: pan-y;
        touch-action: pan-y
    }

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden
}

    .carousel-inner::after {
        display: block;
        clear: both;
        content: ""
    }

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .carousel-item {
        transition: none
    }
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: block
}

    .active.carousel-item-right, .carousel-item-next:not(.carousel-item-left) {
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }

    .active.carousel-item-left, .carousel-item-prev:not(.carousel-item-right) {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }

.carousel-fade .carousel-item {
    opacity: 0;
    transition-property: opacity;
    -webkit-transform: none;
    transform: none
}

    .carousel-fade .carousel-item-next.carousel-item-left, .carousel-fade .carousel-item-prev.carousel-item-right, .carousel-fade .carousel-item.active {
        z-index: 1;
        opacity: 1
    }

.carousel-fade .active.carousel-item-left, .carousel-fade .active.carousel-item-right {
    z-index: 0;
    opacity: 0;
    transition: opacity 0s .6s
}

@media (prefers-reduced-motion:reduce) {
    .carousel-fade .active.carousel-item-left, .carousel-fade .active.carousel-item-right {
        transition: none
    }
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease
}

@media (prefers-reduced-motion:reduce) {
    .carousel-control-next, .carousel-control-prev {
        transition: none
    }
}

.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9
}

.carousel-control-prev {
    left: 0
}

.carousel-control-next {
    right: 0
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: no-repeat 50%/100% 100%
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e")
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e")
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none
}

    .carousel-indicators li {
        box-sizing: content-box;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        width: 30px;
        height: 3px;
        margin-right: 3px;
        margin-left: 3px;
        text-indent: -999px;
        cursor: pointer;
        background-color: #fff;
        background-clip: padding-box;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        opacity: .5;
        transition: opacity .6s ease
    }

@media (prefers-reduced-motion:reduce) {
    .carousel-indicators li {
        transition: none
    }
}

.carousel-indicators .active {
    opacity: 1
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center
}
