@model Booking.Web.ViewModels.ViewComponents.TopCountries.CountryInListViewModel

<section id="gallery">
    <div class="container">
        <div class="gallery-details">
            <div class="gallary-header text-center">
                <h2>
                    top countries
                </h2>
                <p>
                    Where do you want to go? Which place do you want to visit?
                </p>
            </div>
            <div class="gallery-box">
                <div class="gallery-content">
                    <div class="filtr-container">
                        <div class="row">
                            @foreach (var country in Model.Countries)
                            {
                                <div class="col-md-6">
                                    <div class="filtr-item">
                                        <img src="assets/images/gallary/g1.jpg" alt="portfolio image" />
                                        <div class="item-title">
                                            <a href="#">
                                                @country.Name
                                            </a>
                                            <p><span>@country.OffersCount offers</span><span>@country.BookingsCount bookings</span></p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>