@using Booking.Common
@using Booking.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (this.SignInManager.IsSignedIn(this.User))
{
    <p><a asp-controller="Bookings" asp-action="All">My bookings</a></p>
    <p><a asp-controller="Properties" asp-action="All">My properties</a></p>
}