@model ErrorViewModel
@{
    this.ViewData["Title"] = "Error";
}

<div class="padding">
    <h2 class="text-danger">Oops, something's gone wrong!</h2>

    @if (this.Model.ShowRequestId)
    {
        <p>
            An error has occurred, our team will try to solve it as soon as possible. Please stay patient.
        </p>
    }
</div>
