@{
    this.ViewData["Title"] = "Page not found";
}

<div class="padding">
    <h2 class="error-heading">Page not found</h2>
    <p class="error-paragraph">
        Uh oh, we can't seem to find the page you're looking for.
    </p>
    <p class="text-center">
        <a asp-controller="Home" asp-action="Index" class="button-primary">Back to home</a>
    </p>
</div>