@{
    this.ViewData["Title"] = "My properties";
}

<div class="padding">
    <h2 class="h2 text-center">List of my properties</h2>
    <p class="text-center intro">You are an owner? <a asp-action="Add">Register your property now!</a></p>
</div>